//
// ANSIBLE MANAGED
//
options {
	directory "{{ bind9_zones_folder }}";
	dnssec-validation auto;
	allow-query { any; };
{% if bind9_forward_enabled %}
	forwarders {
	{% for forwarder in bind9_forward_servers %}
	{{ forwarder }};
	{% endfor %}
};
{% endif %}
{% if bind9_disable_ipv6 %}
	listen-on-v6 { none; };
{% else %}
	listen-on-v6 { any; };
{% endif %}
};
