//
// ANSIBLE MANAGED
//
zone "." {
	type hint;
	file "/usr/share/dns/root.hints";
};

{% for zone in bind9_zones %}
zone "{{ zone.name }}" {
{% if bind9_server_type == "master" %}
		type {{ zone.type }};
		allow-update { any; };
		notify yes;
{% endif %}
{% if bind9_server_type == "slave" %}
	masters {
{% for master in (groups.dns | map('extract', hostvars, ['ansible_host']) | list | difference(ansible_host)) %}
		{{ master }};
{% endfor %}
	};
	type slave;
{% endif %}
	file "{{ zone.file }}";
{% for option in zone.options %}
	{{ option }}
{% endfor %}
};

{% endfor %}
